$primary-bg-color: #f8f6fe;
$third-color: #2f1f5e;
$secondary-color: #8bca76;
$primary-color: #a6d322;
$button-color: #408eba;
$text-card-color: #000000;
$box-shadow-primary-card: 0px 2.15813946723938px 5.39534854888916px 0px
  #00000026;
$box-shadow-secondary-card: 2.15813946723938px 3.2372093200683594px
  4.31627893447876px 0px #00000040;
